* {
  box-sizing: border-box;
}

body {
  font-family: monospace;
  background-color: black;
  position: absolute;
  top: 15%;
  left: 30%;
}
@media (min-width: 1000px) {
  body {
    left: 40%;
  }
}
@media (max-width: 600px) {
  body {
    left: 22%;
  }
}

button {
  color: white;
  background-color: rgb(51, 51, 51);
  border: none;
  font-size: 27px;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  cursor: pointer;
}

.layout {
  padding: 1pc;
  border: 1px solid grey;
  border-radius: 20px;
}

.result p {
  border: 1px solid grey;
  height: 60px;
  margin: 0 0 15px 0;
  color: white;
  font-size: 40px;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
}

.clear-button {
  height: 60px;
  width: 260px;
  border-radius: 70px;
  background-color: rgb(145, 145, 145);
  color: black;
}

.percentage-button {
  border-radius: 70px;
  height: 60px;
  width: 97px;
  background-color: rgb(145, 145, 145);
  color: black;
}

.change-button {
  background-color: rgb(254, 160, 10);
}

.calculator-result {
  margin: 1px;
  display: flex;
  justify-content: start;
  text-align: center;
}
